.services{
    padding: 120px 120px;
}

.div-grids{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
.item{
    width: 100%;
    box-shadow: 0px 1px 0px #111;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    
}
.item img{
  background-color: #3E92CC;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.item h3{
    margin-top: 2rem;
    font-size: 1.1rem;
    color:#111;
    text-transform: uppercase;
}

.item img:hover{
 background-color: #F50400;
 transition-duration: .8s;
}

@media (min-width:920px) {
    .div-grids{
        grid-template-columns: repeat(4, 1fr);
    }
    .item{
        box-shadow: 0px 0px 1px #111;
    }
}